<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"> -->
  <img src="https://cdn2.iconfinder.com/data/icons/social-media-with-original-colors/256/icon-linkedin.png">
  <h1>Alysson Vasconcelos</h1>
  <p>Prof. na Etec Piraju e Cerqueira Cesar</p>
  <a href="mailto:email@email.com">email@email.com</a>
  <!-- layout apple na versão nova Ionic - removemos
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
-->

</ion-content>
