<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Creator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <h2>Informações sobre o criador</h2>

  <a href="https://www.linkedin.com/in/alyssonvasconcelos/" target="_blank">
    <ion-icon name="logo-linkedin"></ion-icon>
    Perfil Linkedin</a>
  <!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->


</ion-content>
